<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Fetch Example with Form</title>
  </head>
  <body>
    <h1>Product Search</h1>
    <form id="apiForm">
      <label for="param1">sectid:</label>
      <input type="text" id="param1" name="param1" value="value1" />
      <br />
      <label for="param2">email:</label>
      <input type="text" id="param2" name="param2" value="value2" />
      <br />
      <button type="button" onclick="mainApiRequet()">API 요청 보내기</button>
    </form>

    <div id="resultContainer"></div>
    <br />
    <div id="countContainer"></div>

    <script>
      // API 요청 메서드
      function mainApiRequet() {
        // API 엔드포인트 설정 (로컬 호스트에 맞게 수정해주세요)
        let apiUrl = 'http://localhost:5000/productExtract';

        // 폼 요소 가져오기
        let form = document.getElementById('apiForm');

        // 폼의 파라미터 값 가져오기
        let sectid = form.elements.param1.value;
        let email = form.elements.param2.value;

        // main Url 완성하기
        let mainUrl =
          'https://www.gsshop.com/shop/sect/sectM.gs?sectid=' + sectid;
        console.log('mainUrl: ' + mainUrl);

        // 보낼 파라미터 설정
        let params = {
          mainUrl: mainUrl,
          sectid: sectid,
          email: email,
        };

        // URL에 파라미터 추가
        let urlWithParams = new URL(apiUrl);
        urlWithParams.search = new URLSearchParams(params).toString();

        // fetch를 사용하여 API에 GET 요청 보내기
        fetch(urlWithParams)
          .then((response) => {
            // 응답이 성공적인지 확인
            if (!response.ok) {
              throw new Error('네트워크 오류');
            }
            // JSON 형태로 응답 데이터 파싱
            return response.json();
          })
          .then((data) => {
            // 성공적으로 데이터를 받아왔을 때의 처리
            //console.log('API 응답:', data);

            // 결과를 동적으로 생성한 HTML로 출력
            //let resultHtml = '<p>API 응답:</p>';
            //resultHtml += '<pre>' + JSON.stringify(data, null, 2) + '</pre>';
            //resultContainer.innerHTML = resultHtml;

            //getProductStatus(productListParsing(getProductList(data)));

            // 1. 전체 product 추출
            let productList = getProductList(data);

            // 2. 페이지별 product 추출 (60개씩)
            let productListParsingRslt = productListParsing(productList);

            // 3. 페이지별 60개의 상품들의 상태값 추출
            resultContainer.innerHTML = '<p>Loading...</p>';
            setTimeout(() => getProductStatus(productListParsingRslt), 10000);
            //let productInfo = getProductStatus(productListParsingRslt);
          })
          .catch((error) => {
            // 오류가 발생했을 때의 처리
            console.error('API 오류:', error.message);

            // 오류 메시지를 동적으로 생성한 HTML로 출력
            let errorHtml = '<p>API 오류:</p>';
            errorHtml += '<p>' + error.message + '</p>';
            resultContainer.innerHTML = errorHtml;
          });
      }

      function getProductList(data) {
        // 특정 key에 대한 값 가져오기
        const sectid = data['sectid'];
        const category_title = data['category_title'];
        const page_cnt = data['page_cnt'];
        const prd_total_cnt = data['prd_total_cnt'];

        let urlArr = [];
        for (let i = 1; i < page_cnt + 1; i++) {
          let page = '{"pageNumber":var,"selected":"opt-page"}';
          let subUrl =
            'https://www.gsshop.com/shop/sect/sectM.gs?sectid=' +
            sectid +
            '&eh=';

          page = page.replace('var', i.toString());
          let pageEncoding = encodeUnicode(page).toString();
          let requetUrl = subUrl + pageEncoding;
          //console.log('  .page : ' + page);
          //console.logconsole.log('  .requetUrl : ' + requetUrl);

          let urlObj = {};
          urlObj.page = i.toString();
          urlObj.requetUrl = requetUrl;
          urlArr.push(urlObj);

          //for문이 끝날때 다시 숫자를 var로 변경함
          page = page.replace(i.toString(), 'var');
        }

        urlArr.forEach((obj) => console.log(obj));
        return urlArr;
      }

      // 상품 리스트 60개 담기
      function productListParsing(urlList) {
        let urlListLength = urlList.length;
        console.log('Total Page Num: ' + urlListLength);

        let apiUrl = 'http://localhost:5000/getProductList';
        let urlArr = [];
        let urlObj1 = {};
        for (let i = 0; i < urlListLength; i++) {
          let page = urlList[i]['page'];
          let requetUrl = urlList[i]['requetUrl'];

          // 보낼 파라미터 설정
          let params = {
            page: page,
            requetUrl: requetUrl,
          };

          // URL에 파라미터 추가
          // 루프 돌면서 fetch 하는데 fetch 하는 메서드를 따로 동기로 메서드로 만들어서 실행해야할듯
          let urlWithParams = new URL(apiUrl);
          urlWithParams.search = new URLSearchParams(params).toString();

          //console.log('page: ' + page);
          //console.log('requetUrl: ' + requetUrl);
          fetch(urlWithParams)
            .then((response) => {
              // 응답이 성공적인지 확인
              if (!response.ok) {
                throw new Error('네트워크 오류');
              }
              // JSON 형태로 응답 데이터 파싱
              return response.json();
            })
            .then((data) => {
              // 결과를 동적으로 생성한 HTML로 출력
              //var resultHtml = '<p>API 응답:</p>';
              //resultHtml += '<pre>' + JSON.stringify(data, null, 2) + '</pre>';
              //resultContainer.innerHTML = resultHtml;

              // 여기서 상품 리스트 60개씩 담음
              let urlObj1 = {};
              urlObj1.page = i + 1;
              urlObj1.urlList = data;
              urlArr.push(urlObj1);
            })
            .catch((error) => {
              // 오류가 발생했을 때의 처리
              console.error('API 오류:', error.message);

              // 오류 메시지를 동적으로 생성한 HTML로 출력
              let errorHtml = '<p>API 오류:</p>';
              errorHtml += '<p>' + error.message + '</p>';
              resultContainer.innerHTML = errorHtml;
            });
        } // for End

        console.log(urlArr);
        return urlArr;
      }

      // 상품 정보 한개씩 상태 파악(60개 중)
      function getProductStatus(productUrlList) {
        let resultHtml = '';
        let apiUrl = 'http://localhost:5000/getProductStatus';

        // 보낼 파라미터 설정
        let product = [];
        let productList = [];

        // 각 페이지 루프
        console.log('루프 진행할 페이지 수: ' + productUrlList.length);
        for (let i = 0; i < productUrlList.length; i++) {
          product = productUrlList[i]['urlList'];
          let page = productUrlList[i]['page'];

          // 각 페이지의 상품들 루프 (ex. 1페이지의 60개의 상품들 루프)
          //console.log('page:' + i);
          for (let j = 0; j < product.length; j++) {
            //console.log('product: ' + product[j]);
            let param = {
              requetUrl: product[j],
            };

            // URL에 파라미터 추가
            let urlWithParams = new URL(apiUrl);
            urlWithParams.search = new URLSearchParams(param).toString();

            fetch(urlWithParams)
              .then((response) => {
                // 응답이 성공적인지 확인
                if (!response.ok) {
                  throw new Error('네트워크 오류');
                }
                // JSON 형태로 응답 데이터 파싱
                return response.json();
              })
              .then((data) => {
                // 성공적으로 데이터를 받아왔을 때의 처리
                console.log(page + 'page / ' + j + '번 상품: ' + data);

                // 결과를 동적으로 생성한 HTML로 출력
                resultHtml = '<p>API 응답:</p></br>';
                resultHtml +=
                  '<pre>' + JSON.stringify(data, null, 2) + '</pre></br>';

                resultContainer.innerHTML = resultHtml;
              })
              .catch((error) => {
                // 오류가 발생했을 때의 처리
                console.error('API 오류:', error.message);

                // 오류 메시지를 동적으로 생성한 HTML로 출력
                var errorHtml = '<p>API 오류:</p>';
                errorHtml += '<p>' + error.message + '</p>';
                resultContainer.innerHTML = errorHtml;
              });
          }
        }
      }

      // base64 인코딩
      function encodeUnicode(str) {
        return btoa(
          encodeURIComponent(str).replace(
            /%([0-9A-F]{2})/g,
            function toSolidBytes(match, p1) {
              return String.fromCharCode('0x' + p1);
            }
          )
        );
      }
    </script>
  </body>
</html>
