<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Count</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // 서버에서 클라이언트로 업데이트된 카운트 수신
        socket.on('update_count', function(updatedCount) {
            // 업데이트된 카운트를 화면에 표시
            document.getElementById('count-display').innerText = updatedCount;
        });
    </script>

    <h1>Real-time Count: <span id="count-display">Loading...</span></h1>
</body>
</html>
